*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  /* font-family: Arial, sans-serif; */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; /* Allows the main content to grow and take available space */
  /* padding: 20px; */
  background-color: #E0EBE6;
}